@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
:root{
    --transicion: all .2s ease-in-out;
    --celeste: #87CEEB;
    --blanco: #FFF;
    --oro: #ffd700;
    --violeta: #8016e4;
}
body{
    font-family: 'Nunito';
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
.img-1{
    top: 1rem;
}
.img-2, .img-1{
    width: 100%
}
span{
    text-transform: uppercase;
    font-weight: bold;
    transition: var(--transicion);
}

.fa-star{
    color: var(--oro);
    transition: var(--transicion);
}
.fa-star:hover{
    transform: scale(1.2);
    text-shadow: 0px 3px 2px black, 0px -2px 2px black;
}


.img-portafolio{
    width: 90%;
}

.carousel-item img{
    width: 90vw ;
}
.imagenyo{
    width: 40vw;
    border-radius: 50%;
}

.redondeado{
    border-radius: 20%;
}
.iconos{
    background-color: white;
    margin: 0 30rem;
    padding: 3rem 0;
    border: 3px solid black;
}
.iconos a {
    color: blue;
    transition: var(--transicion);
}
.iconos a:last-child{
    color: #25D366;
}

.iconos a:hover{
    transform: scale(1.2);
}
.aside{
    width: 30%;
    height: fit-content;
    margin-left: 2rem;
    margin-right: -2rem;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
}

.blog h2{
    text-decoration: underline;
    text-decoration-color: red;
}

ol li::marker {
    font-size: 2rem;
  }