<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArielCode | Sobre Mi</title>
    <script src="https://kit.fontawesome.com/179040b811.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../style.css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
</head>
<body>

    <nav class="navbar navbar-expand-md sticky-top bg-primary p-3">
        <div class="container-fluid fs-5">
          <a class="navbar-brand fs-4 " href="../index.html"><i class="fa-solid fa-star"> </i><strong>ArielCode</strong></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="./portafolio.html">Portafolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="./blog/entrada.html">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Sobre Mi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Cursos (Proximamente)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./contacto.html">Contactame <i class="fa-solid fa-star"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container-fluid d-flex">
        <div class="container p-5">
          <img src="../img/yo.jpg" class="imagenyo" alt="">
        </div>
        <div class="container mt-4 d-flex bg-primary redondeado">
          <div class="p-5 d-flex flex-column justify-content-evenly fs-4">
            <p>¡Hola! Mi nombre es Ariel Eitner y soy Programador Web y App Developer.</p>
            <p>Me inicie en la programación a inicios del 2020 a raiz de la Pandemia</p>
            <p>Desde ese momento no he parado y todos los dias aprendo algo nuevo.</p>
            <p>Me apasiona mucho el mundo de la informatica por eso todos los dias me esfuerzo y estudio las mejores practicas del mercado para siempre estar a la vanguardia de la tecnologia</p>
            <p>Tambien me gusta hacer reir a la gente y llevarme bien con mis compañeros y los clientes, siempre te vas a ir con una sonrisa!</p>
            <p>Asi que si quieres un buen programador para tu equipo, contactame!</p>

          </div>
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>