<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArielCode | Contactame</title>
    <script src="https://kit.fontawesome.com/179040b811.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../style.css">
</head>
<body>

    <nav class="navbar navbar-expand-md sticky-top bg-primary p-3">
        <div class="container-fluid fs-5">
          <a class="navbar-brand fs-4 " href="../index.html"><i class="fa-solid fa-star"> </i><strong>ArielCode</strong></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="./portafolio.html">Portafolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./about.html">Sobre Mi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Cursos (Proximamente)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Contactame <i class="fa-solid fa-star"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <h1 class="text-center p-3">Contactame para que trabajemos juntos</h1>

      <div class="d-flex justify-content-evenly fs-1 mt-5 iconos">
        
        <a href="https://www.facebook.com/Ariel.Eitner/" target="_blank" rel="noopener noreferrer"><i title="Contactame por Facebook" class="fa-brands fa-facebook"></i></a>
        <a href="https://www.linkedin.com/in/ariel-eitner-414171225/" target="_blank" rel="noopener noreferrer"><i title="Contactame por LinkedIn" class="fa-brands fa-linkedin"></i></a>
        <a href="mailto:ariel.10.e@hotmail.com" target="_blank" rel="noopener noreferrer"><i title="Contactame por Email" class="fa-solid fa-envelope"></i></a>
        <a href="https://wa.me/+5491165293997" target="_blank" rel="noopener noreferrer"><i title="Contactame por Whatsapp" class="fa-brands fa-whatsapp"></i></a>
        
      </div>
    
      
</body>
</html>