<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArielCode | Blog</title>
    <script src="https://kit.fontawesome.com/179040b811.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../style.css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
</head>
<body>

    <nav class="navbar navbar-expand-md sticky-top bg-primary p-3">
        <div class="container-fluid fs-5">
          <a class="navbar-brand fs-4 " href="../../../index.html"><i class="fa-solid fa-star"> </i><strong>ArielCode</strong></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="../../portafolio.html">Portafolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../entrada.html">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../about.html">Sobre Mi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Cursos (Proximamente)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../contacto.html">Contactame <i class="fa-solid fa-star"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <main class="p-5 d-flex blog">
        <div class="d-flex flex-column w-75">
            <header class="px-5 text-center">
                <h1>Obtener experiencia sin trabajar <br> ¿Es posible lograr esto?</h1>
            </header>
            <article>
                <p class="fs-4">Obtener experiencia laboral en programación sin encontrar trabajo puede ser un desafío, pero hay varias cosas que puedes hacer para adquirir habilidades y mejorar tu perfil. A continuación, te presento una lista de 10 cosas que puedes hacer para ganar experiencia en programación.</p>
        
                <h2 class="mt-5 text-center">Debes tener en cuenta lo siguiente</h2>

                <p class="fs-4">A pesar de que aquí te comparta cosas que pueden ser utiles, siempre va a depender de cada uno y en que cosas uno se sienta mas comodo, esta receta no es infalible pero es la que a mi me sirvió para estar donde estoy. Asi mismo tambien voy a compartir primero las cosas que yo hice que me sirvieron y luego algunas sugerencias más.</p>
        
                <ol class="mt-5">
                    <li class="py-2"><h2 class="fs-1">Realizar proyectos personales</h2> 
                      <p class="fs-4">
                        Crea tus propios proyectos para mejorar tus habilidades de programación y construir tu portafolio. Este siempre puede ser el lugar indicado para comenzar. Yo comenzé así. Si no tienes idea por donde empezar lo que puedes hacer es modificar algo de los cursos que hayas hecho. No te quedes solo con lo que hizo el profesor de turno. Modificalo, agrega funciones. Cambia sus colores y estilos, experimentar es la mejor forma de aprender, te permite tener errores e ir solucionandolos. Si ya lo terminaste, vuelve a empezarlo, una y otra vez. Así como un futbolista erra cientos de goles en los entrenamientos, tu erraras al modificar las aplicaciones. Pero luego, ¿Quién sale a la cancha a meter goles? ¿El que erró cientos de veces y practico de todas formas o el que se quedó mirando? Piensalo, aquí te dejo una divertida comparativa entre un <a href="#">futbolista y un programador</a>
                      </p>
                    </li>

                    <li class="py-2"><h2  class="fs-1">Tomar cursos en línea</h2> 
                      <p class="fs-4">
                        Ya se, ya se, esto es una obviedad pero ponte a pensar. ¿Cuántos cursos has hecho para profesionalizarte? ¿2? ¿3? ¿10? El saber no ocupa lugar. A pesar de que varios son de pago y esto es lo que limita el acceso a la informacion, tambien hay muchisimos recursos completamente gratuitos como youtube y... este blog... ¿Sabías? Al cabo de un tiempo uno puede tener una cierta cantidad de horas acumuladas de estudio y practica, y lleno de material para consultar cuando tengas dudas o quieras reforzar conocimientos. No te limites a hacer uno o dos cursos, eso  es solo la iniciación. Necesitas más información, más maestros, más compañeros, más errores, más debuggeo, más proyectos, leer todo mi blog ya que esta lleno de recursos para aprender.  
                      </p>
                    </li>

                    <li class="py-2"><h2 class="fs-1">Participar en foros y grupos de discusión</h2> 
                      <p class="fs-4">
                        Unirse a grupos de discusión en línea y participar en foros relacionados con programación puede ayudarte a aprender de otros desarrolladores, hacer contactos y obtener ideas para proyectos. Siempre es bueno intentar conectar con otros y hablar de proyectos, te llevaras mas de una sorpresa y un par de amigos en el camino, pero por sobre todo aprender a trabajar un proyecto en equipo. Aquí te dejo una divertida comparativa entre una <a href="#">banda de rock y un proyecto de programación</a>
                      </p>
                    </li>

                    <li class="py-2"><h2 class="fs-1">Hacer voluntariado</h2> 
                      <p class="fs-4">
                        Busca oportunidades de voluntariado que te permitan usar tus habilidades de programación. Puedes trabajar con organizaciones sin fines de lucro para crear sitios web, aplicaciones móviles, etc. Ayuda a otros, brindales una mano, y verás como, sin darte cuenta, estarás aprendiendo mientras enseñas. Descubre porque enseñar a programar a otros te ayuda a <a href="#">ser mejor programador.</a> 
                      </p>
                    </li>

                    <li class="py-2"><h2 class="fs-1">Estudia, estudia, estudia</h2>
                      <p class="fs-4">
                        La programación es un trabajo pura y exclusivamente del intelecto humano. Este don que nos diferencia de otras especies sólo se entrena mediante el estimulo mental, y la única forma de estimular esta área es a travéz del estudio y la comprensión de la programación. No nacemos sabiendo, pero todos tenemos la capacidad de aprender a programar. Paciencia, sólo paciencia, que esto es un largo recorrido, pero al final del arcoiris se encuentra la olla de oro.
                      </p>
                    </li>

                    
                </ol>
        
                <p class="mt-5 fs-4">En resumen, si deseas ganar experiencia laboral en programación sin encontrar un trabajo, hay muchas cosas que puedes hacer para mejorar tus habilidades, crear un portafolio de trabajo y hacer contactos en la industria. Buena suerte en tu camino hacia convertirte en programador y recuerda, siempre puedes volver aquí a seguir encontrando respuestas.
            </article>

      </div>

        <aside class="aside p-3">
          <h3 class="mt-2 text-center"><a href="../entrada.html">Entradas</a></h3>
          <p><a href="./01-motivos-laborales.html">10 Motivos por los que no tienes trabajo</a></p>
          <p><a href="/">Ecosistema de la programación.</a></p>
          <p><a href="/">Destacarse como programador</a></p>
          <p><a href="/">Cómo tener una buena entrevista laboral</a></p>
          <p><a href="/">5 Pasos para crear un buen Curriculum</a></p>
          <p><a href="./03-cocinero.html">Similitudes entre ser programador y cocinero</a></p>
          <p><a href="/">Similitudes entre ser programador y músico</a></p>
        </aside>
    </main>






      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    
</body>
</html>