<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArielCode | Blog</title>
    <script src="https://kit.fontawesome.com/179040b811.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../style.css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
</head>
<body>

    <nav class="navbar navbar-expand-md sticky-top bg-primary p-3">
        <div class="container-fluid fs-5">
          <a class="navbar-brand fs-4 " href="../../../index.html"><i class="fa-solid fa-star"> </i><strong>ArielCode</strong></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="../../portafolio.html">Portafolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../entrada.html">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../about.html">Sobre Mi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Cursos (Proximamente)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../contacto.html">Contactame <i class="fa-solid fa-star"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <main class="p-5 d-flex blog">
        <div class="d-flex flex-column w-75">
            <header class="px-5 text-center">
                <h1>Comprendiendo más a la programación con ejemplos</h1>
            </header>
            <article>
                <p class="fs-4">Si bien hay muchas formas de entender las cosas, las comparaciones tambien nos pueden servir para poner las cosas en otro contexto y entender las funciones de cada herramienta que vamos aprendiendo y nos falta por aprender.</p>
        
                <h2 class="mt-5 text-center">¿En qué se parece un cocinero a un programador?</h2>

                <p class="fs-4">
                    Para poner las cosas en contexto y entender por que la programación es más que solo saber  HTML y CSS, eso es el primer paso, si, pero aun falta recorrido. Es cómo si un cocinero únicamente supiera pelar papas y ponerlas al fuego. Lo que aún no sabe es si tiene que usar una olla, una sarten, si cortar las papas, si usar agua o aceite. Ah, pero él es cocinero.
                </p>

                <div class="d-flex justify-content-evenly align-items-center borde deg ">
                    <img class="w-50" src="/img/8.png" alt="">
                    <h3>El es Norbert, cocinero Sr.</h3>
                </div>
        
                <ol class="mt-5">
                    <li class="py-2"><h2 class="fs-1">Un cocinero elige bien sus ingredientes</h2> 
                      <p class="fs-4">
                        Siguiendo con la comparación, un cocinero sabe elegir bien sus ingredientes, cuando va a adquirir frutas o vegetales, los mira, los revisa que esten en buen estado, analiza la calidad de lo que adquiere, ya que sabe que a mejor calidad al principio, mejor será el resultado final. <br> <br>
                        En la programacíon sucede lo mismo, cuando arrancas un proyecto nuevo tienes que ver las potenciales herramientas que necesitaras para poder hacerlo, una buena computadora, dentro de las posibilidades. Luego el Software a utilizar, las versiones, los paquetes, fijarse que este actualizado, que este con buena documentacion. Esto en el ciclo de vida de lo que se esté desarrollando afectará positiva o negativamente dependiendo de como se haga gestionado en el inicio del proyecto.
                      </p>
                    </li>
                    <li class="py-2"><h2 class="fs-1">Organización e Higiene</h2> 
                      <p class="fs-4">
                        Al preparar los alimentos el cocinero necesita su espacio de trabajo ordenado y limpio, esto es para cuidar que los alimentos no se contaminen, que todas sus herramientas de trabajo se encuentren en el lugar que corresponden y que el flujo de trabajo desde cortar las verduras hasta la cocción final se den de manera fluida sin ningún problema. <br> <br>
                        Por lo tanto, cuando estes "cocinando" un proyecto, no te olvides del orden y la higiene de tu código. Mantené tu código bien ordenado e identado, no pongas clases con cualquier nombre, utiliza alguna metodologia que te permita mantener una estructura entendible siempre, asi se un proyecyo pequeño, ya que cuando te toquen los proyectos grandes es fundamental saber mantener ordenado el código.
                      </p>
                    </li>
                    <li class="py-2"><h2 class="fs-1">¿Solo el cuchillo?</h2> 
                      <p class="fs-4">
                        Un cocinero profesional necesita manejar muchas herramientas, no unicamente un cuchillo. Tiene que saber manejar distintos grosores de cuchillas para distintos cortes, saber usar una batidora, un pisapapas, un colador. Parece sencillo, pero es increible la cantidad de veces que pasa que alguien cree que por saber HTML, CSS y JS es suficiente para ser programador. Es como si el cocinero solo supiera cortar las verduras pero no sabe que hacer con el resto. <br><br>
                        Entonces, aprende mas herramientas y lenguajes, que la programación es mucho mas que escribir archivos HTML.
                      </p>
                    </li>
                    <li class="py-2"><h2 class="fs-1">Un cocinero elige bien sus ingredientes</h2> 
                      <p class="fs-4">
                        
                      </p>
                    </li>
                    <li class="py-2"><h2 class="fs-1">Un cocinero elige bien sus ingredientes</h2> 
                      <p class="fs-4">
                        
                      </p>
                    </li>

                    

                    

                    

                    
                </ol>
        
                <p class="mt-5 fs-4">
            </article>

      </div>

        <aside class="aside p-3">
          <h3 class="mt-2 text-center"><a href="../entrada.html">Entradas</a></h3>
          <p><a href="./motivos-laborales.html">10 Motivos por los que no tienes trabajo</a></p>
          <p><a href="/">Ecosistema de la programación.</a></p>
          <p><a href="/">Destacarse como programador</a></p>
          <p><a href="/">Cómo tener una buena entrevista laboral</a></p>
          <p><a href="/">5 Pasos para crear un buen Curriculum</a></p>
          <p><a href="/">Similitudes entre ser programador y cocinero</a></p>
          <p><a href="/">Similitudes entre ser programador y músico</a></p>
        </aside>
    </main>






      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    
</body>
</html>