<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArielCode | Blog</title>
    <script src="https://kit.fontawesome.com/179040b811.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../../style.css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
</head>
<body>

    <nav class="navbar navbar-expand-md sticky-top bg-primary p-3">
        <div class="container-fluid fs-5">
          <a class="navbar-brand fs-4 " href="../../index.html"><i class="fa-solid fa-star"> </i><strong>ArielCode</strong></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="../portafolio.html">Portafolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="./entrada.html">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../about.html">Sobre Mi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Cursos (Proximamente)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../contacto.html">Contactame <i class="fa-solid fa-star"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="p-5 d-flex justify-content-evenly">

        <div class="card" style="width: 18rem;">
          <img src="../../img/6.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">10 Motivos por los que no consigues trabajo como programador Jr.</h5>
            <p class="card-text">¿Aún no sabes por que no consigues trabajo como programador? Aquí tenemos las respuestas</p>
            <a href="./articulos/01-motivos-laborales.html" class="btn btn-primary">Ver Articulo</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="../../img/7.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Cómo obtener experiencia sin trabajar</h5>
            <p class="card-text">El mundo laboral de la programación puede ser muy vertiginoso, aquí te compartiré trucos y consejos para mejorar tu experiencia y tener mas posibilidades laborales</p>
            <a href="./articulos/02-experiencia-laboral.html" class="btn btn-primary">Ver Articulo</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="../../img/8.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Similitudes entre un cocinero y un programador</h5>
            <p class="card-text">¿Vienes del mundo gastronómico y te esta costando entender la programación? En este post analizaremos las similitudes entre la cocina y la programación para que tu adaptación sea más sencilla</p>
            <a href="./articulos/03-cocinero.html" class="btn btn-primary">Ver Articulo</a>
          </div>
        </div>

      </div>



      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    
</body>
</html>